{% extends "::base.html.twig" %}

{% block title %}AppBundle:Foire:list{% endblock %}
{% block header %}{% endblock %}
{% block pagetop %}
    <!-- Start Home Page Slider -->
    <section id="page-top">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">



            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('images/header-bg-1.jpg') }}" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated3">
                                <span><strong>Cities List</strong> Page</span>
                            </h1>
                            <p class="animated2">
                                There is the list of   <br> our cities </p>

                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->




            </div>
            <!-- Carousel inner end-->


        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->




{% endblock %}

{% block feature %}
    <div>

        <table class="table" style="margin-left:auto;margin-right:auto;display:block;width:100%;">
            <thead class="thead-dark">


            <th>
                Nom de la ville
            </th>
            <th>
                Pays
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>

            </tr>
            </thead>


            {% for ville in villes %}
            <tr>

                <td>
                    {{ ville.nom }}
                </td>
                <td>
                    {{ ville.pays }}
                </td>

                <td>
                    <a href="{{ path('updatevillepage', { 'id': ville.id}) }}" class="btn btn-primary">Update</a>
                </td>
                <td>
                    <a href="{{ path('deletevillepage', { 'id': ville.id}) }}" class="btn btn-primary">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
{% block calltoaction %}{% endblock %}
{% block portfolio %}{% endblock %}
{% block modal %}{% endblock %}
{% block about %}{% endblock %}
{% block about2 %}{% endblock %}
{% block service %}{% endblock %}
{% block funfacts %}{% endblock %}
{% block latest %}{% endblock %}
{% block partner %}{% endblock %}
{% block team %}{% endblock %}
{% block contact %}{% endblock %}