{%  extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block pagetop %}
    <!-- Start Home Page Slider -->
    <section id="page-top">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">



            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('images/header-bg-1.jpg') }}" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated3">
                                <span><strong>Authentication</strong> Page</span>
                            </h1>
                            <p class="animated2">
                                Please login to access  <br> the features of the site </p>

                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->




            </div>
            <!-- Carousel inner end-->


        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->




{% endblock %}
{%  block feature %}
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
{% endblock %}
{% block calltoaction %}{% endblock %}
{% block portfolio %}{% endblock %}
{% block modal %}{% endblock %}
{% block about %}{% endblock %}
{% block about2 %}{% endblock %}
{% block service %}{% endblock %}
{% block funfacts %}{% endblock %}
{% block latest %}{% endblock %}
{% block partner %}{% endblock %}
{% block team %}{% endblock %}
{% block contact %}{% endblock %}