{% extends "::base.html.twig" %}

{% block title %}AppBundle:Foire:list{% endblock %}
{% block header %}{% endblock %}
{% block pagetop %}
    <!-- Start Home Page Slider -->
    <section id="page-top">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">



            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('images/header-bg-1.jpg') }}" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated3">
                                <span><strong>Fairs List</strong> Page</span>
                            </h1>
                            <p class="animated2">
                                Theren is the list of   <br> available fairs </p>

                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->




            </div>
            <!-- Carousel inner end-->


        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->




{% endblock %}

{% block feature %}
    <div class="container card-group">
        {% for foire in foires %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset('uploads/foire/'~foire.image) }}" alt="{{ asset(foire.nom) }}">
        <div class="card-body">
            <h5 class="card-title">{{ foire.nom }}</h5>
            <span>Ville&nbsp;</span><p class="card-text"> {{ foire.ville.nom }}</p>
            <span>Date de début&nbsp;</span><p class="card-text"> {{ foire.dateDebut|date('d-m-Y\\TH:i:sP')}}</p>
            <span>Date de fin&nbsp;</span><p class="card-text"> {{ foire.dateFin|date('d-m-Y\\TH:i:sP') }}</p>
            <span>Nombre de stands total&nbsp;</span><p class="card-text"> {{ foire.nbreStandsTotal }}</p>
            <span>Nombre de stands restants&nbsp;</span><p class="card-text"> {{ foire.nbreStandsRest }}</p>
            <a href="{{ path('showfoirepage', { 'id': foire.id}) }}" class="btn btn-primary">update</a>
            <a href="{{ path('deletefoirepage', { 'id': foire.id}) }}" class="btn btn-primary">delete</a>
        </div>
    </div>
        {% endfor %}
    </div>
{% endblock %}
{% block calltoaction %}{% endblock %}
{% block portfolio %}{% endblock %}
{% block modal %}{% endblock %}
{% block about %}{% endblock %}
{% block about2 %}{% endblock %}
{% block service %}{% endblock %}
{% block funfacts %}{% endblock %}
{% block latest %}{% endblock %}
{% block partner %}{% endblock %}
{% block team %}{% endblock %}
{% block contact %}{% endblock %}